*{
    font-family: 'Roboto', sans-serif;
}

.fixed{
    position: fixed;
}

.center {
    margin: auto;
}

.view{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.leftPainel{
    border: 1px solid crimson;
    width: 40%;
    height: 100%;
    overflow-y: auto;
}

.topo{
    display: flex;
    height: 5%;
    border: 1px solid black;
}

.topo .centralText{
    width: 91%;
    height: 100%;
}

.topo button {
    width: 14%;
    height: 100%;
}

.NewModel img{
    width: 100%;
    height: 100%;
}

.centralText{
    text-align: center;
    width: 100%;
    height: 4%;
}

.ModelsList{
    width: 100%;
    height: 96%;
}

.ModelSelection {
    display: flex;
    width: 98%;
    height: 10%;
    justify-content: space-between;
    border: 1px solid green;
    align-content: center;
    padding: 2px;
    margin: 8px 0px 0px 0px;
    border-radius: 5px;
}

.ModelSelection .menu{
    width: 78%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.ModelSbtn{
    width: 10%;
    height: 10%;
}

.ModelSbtn img{
    width: 100%;
    height: 100%;
}

.rightPainel{
    border: 1px solid black;
    width: 57%;
    height: 100%;
    overflow-y: auto;
}

.rightPainel .Fields {
    width: 100%;
    height: 70%;
}

.rightPainel .Fields ul{
    height: 100%;
    width: 90%;
}

.rightPainel .Fields li{
    width: 100%;
    padding: 10px;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    margin-top: 3px;
}

.rightPainel .Fields li:hover{
    background-color: aquamarine;
}

.rightPainel .SaveModel img{
    width: 100%;
    height: 100%;
}

.rightPainel .Fields .NewField{
    width: 8%;
    height: 10%;
}

.rightPainel .Fields .NewField img{
    width: 100%;
    height: 100%;
}

.NewField {
    position: relative;
    left: 25px;
}

.flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hidden{
    /* visibility: hidden; */
    display: none;
}

.center{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

.PropietiesEditor{
    width: 80vw;
    height: 90vh;
    position: fixed;
    border: 1px solid black;
    z-index: 10;
    background-color: rgb(255, 255, 255);
}

.diblock{
    display: inline-block
}

.FieldDelBtn {
    height: 20px;
}

button img{
    width: 100%;
    height: 100%;
}

.PropietiesEditor .flex {
    display: flex;
    justify-content: initial;
    width: 100%;
}


.Associations{
    width: 100%;
    height: 30%;
}

.Associations .NewAssociation {
    width: 8%;
    height: 10%;
    position: relative;
    left: 25px;
}

.Associations .NewAssociation img {
    width: 100%;
    height: 100%;
}

.Associations div button img {
    width: 100%;
    height: 100%;
}

.Associations ul {
    width: 93%;
}

.Associations ul li {
    padding: 10px;
    border: 1px solid crimson;
    margin-top: 2px;
    border-radius: 5px;
}

.Associations ul li div button {
    height: 20px;
}

.GenerateForm{
    width: 30% !important;
}

.GenerateForm button {
    width: 100%;
    height: 100%;
}
